<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/logo/reu.png" rel="shortcut icon">
    <link rel="stylesheet" href="/static/styles/style.css">
    <audio autoplay="" loop="loop"><source src="/static/audio/hedgehog.mp3" type="audio/mpeg"></audio>
    <title>Я ёжик, я упал в реку...</title>
</head>
<body  style="background-image: url(/static/img/404.jpg)">
<header>
<a href="/profile" class="underline-one">Выйти из тумана</a>
<a href="/profile" class="underline-one">Вернуться в норку</a>
</header>

</body>
</html>
