<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/logo/reu.png" rel="shortcut icon">
    <link rel="stylesheet" href="/static/styles/style.css">
    <script src="/static/js/furtherDropDown.js"></script>
    <script src="/static/js/flipFlop.js"></script>
    <title>Расширенный поиск товаров</title>
</head>
<body style="background-image: url(/static/img/backgroundl.jpg)">
<header>
    <a href="/profile" class="orders">Мой профиль</a>
    <div class="dropdown">
        <button onclick="furtherDropDownI()" class="dropbtn">О нас</button>
        <div id="myDropdown_13" class="dropdown-content">
            <a href="/aboutus" class="underline-one">О магазине</a>
            <a href="/" class="underline-one">Реквизиты</a>
            <a href="/" class="underline-one">Контакты</a>
            <a href="/" class="underline-one">Соцсети</a>
            <a href="/" class="underline-one">Вакансии</a>
        </div>
    </div>


    <div class="dropdown">
        <button onclick="furtherDropDownJ()" class="dropbtn">Помощь</button>
        <div id="myDropdown_14" class="dropdown-content">
            <a href="/" class="underline-one">Пункты выдачи</a>
            <a href="/" class="underline-one">Как сделать заказ</a>
            <a href="/" class="underline-one">Оплата</a>
            <a href="/" class="underline-one">Доставка</a>
            <a href="/" class="underline-one">Возврат</a>
            <a href="/" class="underline-one">Условия обработки данных</a>
        </div>
    </div>
    <a href="/profile/orders" class="orders">Мои заказы</a>
    <a href="/logout" class="keygoout">Выйти</a>

</header>
<p></p>
<h1>Расширенный поиск товаров</h1>
<table>
    <tr><td id="searchBlock">

        <form class="staticFormFixed" th:method="POST" th:action="@{/profile/mainsearch}">
            <fieldset>
                <legend>Поиск товара</legend>
                <input class="search" type="text" id="search" name="search" th:value="*{value_search}" placeholder="Название" required>
                <br>
                <p>Цена, P</p>
                <label for="up">От</label>
                <input type="number" name="up" id="up" th:value="*{value_price_up}">
                <label for="to">До</label>
                <input type="number" name="to" id="to" th:value="*{value_price_to}">
                <br>
                <br>
                <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                <label for="ascending_price">Отсортировать по возрастанию цены</label>
                <p></p>
                <input type="radio" id="descending_price" name="price"
                       value="sorted_by_descending_price">
                <label for="descending_price">Отсортировать по убыванию цены</label>
                <p></p>
                <p>Поиск по категории: </p>


                <ul><li><p><a href="javascript:flipFlop_5('flipFlop_5');">Выберите категорию</a></p>
                        <ul id="flipFlop_5" style="display: none"><li th:each="categories : ${category}">
                            <option th:text="${categories.toString()}" th:value="${categories.toString()}"></option>
                        </li></ul></li></ul>

                    <label>Введите в поле ниже<br>
                        порядковый номер выбранной категории</label>

                <input type="number" name="categoriest" value="" min="1" id="categoriest">
                <p></p>

                <div class="keysblock">
                    <input type="submit" value="Найти" class="key">
                </div>
            </fieldset>
        </form>

    </td><td id="mainpage">

        <form>
            <p></p>
            <div th:each="product : ${search_product}">
                <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="95%" height="71%">
                <br>
                <a th:href="@{/product/{id}(id=${product.getId()})}" th:text="${product.getName()}"></a>
                <p th:text="'Цена: ' + ${product.getPrice()}+'Р'"></p>
                <a class="key" th:href="@{/profile/cart/add/{id}(id=${product.getId()})}">Купить</a>
                <p></p>
                <hr class="hr-vertical-gradient">
            </div>
            <p></p>
        </form>

    </td></tr></table>
</body>
</html>