<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/logo/reu.png" rel="shortcut icon">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Информация о продукте</title>
</head>
<body style="background-image: url(/static/img/backgroundl.jpg)">
<header>
    <a href="/admin/product" class="underline-one">Товары</a>
    <a href="/admin" class="underline-one">Администратор</a>
</header>

<form>
<div>
<p th:text="'Товар № ' + ${product.getId()}"></p>
<p th:text="'Наименование: ' + ${product.getName()}"></p>
<p th:text="'Цена(в рублях) : ' + ${product.getPrice()}"></p>
<p th:text="'Вес (в граммах): ' + ${product.getWeight()}"></p>
<p th:text="'Cклад: ' + ${product.getWarehouse().getName()}"></p>
<p th:text="'Продавец: ' + ${product.getProductOwner().getName()}"></p>
<p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
<div th:each="img : ${product.getImageList()}">
    <img th:src="'/img/' + ${img.getFileName()}">
</div>
</div>
<p></p>
<hr class="hr-vertical-gradient">

<div class="keysblock">
<a class="key" th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактирование товара</a>
<a class="key" th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удаление товара</a>
<a href="/admin/product" class="link">Отмена</a>
<hr class="hr-vertical-gradient">
</div>
    <p></p>
</form>
</body>
</html>